<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <v-card class="elevation-12">
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>P H Y S I C S</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <div id="Questions" v-if="!results">
                                        <v-form v-if="database">
                                            <h2>Select Givens</h2>
                                            <v-container fluid>
                                                <div v-for="chunk in variablesChunked">
                                                    <v-layout row wrap>
                                                        <v-flex v-for="variable in chunk" xs6>
                                                            <h3>{{variablesFullTitles[variable]}}</h3>
                                                            <v-checkbox label="Include" v-model="selectedVariables" v-bind:value="variable" color="green"></v-checkbox>
                                                            <v-checkbox label="Exclude" v-model="negativelySelectedVars" v-bind:value="variable" color="red"></v-checkbox>
                                                        </v-flex>
                                                    </v-layout>
                                                </div>
                                            </v-container>

                                            <h2>Tags</h2>
                                            <v-container fluid>
                                                <div v-for="chunk in tagsChuncked">
                                                    <v-layout row wrap>
                                                        <v-flex v-for="tag in chunk" xs6>
                                                            <v-checkbox v-bind:label="tag" v-model="selectedTags" v-bind:value="tag"></v-checkbox>
                                                        </v-flex>
                                                    </v-layout>
                                                </div>
                                            </v-container>
                                        </v-form>
                                    </div>
                                    <div v-else>
                                        <v-container fluid grid-list-lg>
                                            <v-layout v-for="result in results" v-bind:key="result" row wrap>
                                                <v-flex xs12>
                                                    <v-card>
                                                        <v-card-title primary-title>
                                                            <div class="headline">
                                                                <math-equation v-bind:markup="result"></math-equation>
                                                            </div>
                                                        </v-card-title>
                                                        <v-card-text>
                                                            <div style="padding: 1em">
                                                                <h4>{{ database.equations[result].description }}</h4>
                                                                <ul>
                                                                    <li v-for="variable in database.equations[result].vars">
                                                                        {{variable}} : {{ database.variables[variable] }}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </v-card-text>
                                                    </v-card>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </div>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn v-if="!results" color="primary" v-on:click="calculateAndSetResults">Go</v-btn>
                                    <v-btn v-if="results" color="warning" v-on:click="returnToEdit">Back</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.js" integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="./index.js"></script>
</body>

</html>
